*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    
}
.header{
  width: 80%;
  text-align: center;
  display: flex;
  padding-left: 90px;
  padding-top: 4px;
}
.header .home{
    width: 16.66%;
    background-color: yellow;
    border: 3px solid blue;
    height: 50px;
    text-align: center;
}
.header .home a{
    font-size: 28px;
    text-decoration: none;
    
}
.header .about-me{
    width: 16.66%;
    background-color: yellow;
    border: 3px solid blue;
    height: 50px;
    margin-left: 5px;
    text-align: center;
}
.header .about-me a{
    font-size: 25px;
}
.header .product{
    width: 16.66%;
    background-color: yellow;
    border: 3px solid blue;
    height: 50px;
    margin-left: 5px;
    text-align: center;
}
.header .product a{
    font-size: 25px;
}
.header .service{
    width: 16.66%;
    background-color: yellow;
    border: 3px solid blue;
    height: 50px;
    margin-left: 5px;
    text-align: center;
}
.header .service a{
    font-size: 25px;
}
.header .maps{
    width: 16.66%;
    background-color: yellow;
    border: 3px solid blue;
    height: 50px;
    margin-left: 5px;
    text-align: center;
}
.header .maps a{
    font-size: 25px;
}
.header .contact-me{
    width: 16.66%;
    background-color: yellow;
    border: 3px solid blue;
    height: 50px;
    margin-left: 5px;
    text-align: center;
}
.header .contact-me a{
    font-size: 25px;
}
main{
    width: 100%;
    height: 450px;
    display: flex;
    margin-top: 30px;
}
main #gree{
    width: 33.33%;
    height: 450px;
    background-color: grey;
    color: white;
}
main #gree .gree-navigation p{
font-size: 33px;
}
main #yellow{
    width: 33.33%;
    height: 450px;
    background-color: yellow;
    color: black;
}
main #yellow .yellow-navigation p{
    font-size: 33px;
    }
main #blue{
    width: 33.33%;
    height: 450px;
    background-color: blue;
    color: yellow;
}
main #blue .blue-navigation p{
    font-size: 33px;
}
footer #footer{
    margin-top: 10px;
    text-align: center;
}
footer #footer p{
    font-size: 20px;
    color: red;
}